<form class="login-form" [formGroup]="form">
  <img class="mb-4 logo" src="assets/images/logo.svg" alt="Ecommerce logo" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">User Profile</h1>
  <div class="form-floating">
    <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name">
    <label for="firstName">First Name</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name" >
    <label for="lastName">Last Name</label>
  </div>
  <div class="form-floating">
    <select class="form-select" id="role" formControlName="role" placeholder="User Role">
      <label for="role">User Role</label>
      <option value="admin" type="text">Admin</option>
      <option value="user" type="text">User</option>
    </select>
  </div>
  <div class="form-floating">
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com" >
    <label for="email" >Email address</label>
  </div>


  <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
</form>

