<div *ngIf="product" class="card" >
  <div [ngStyle]="{
   'background-image': 'url(' + product.image + ')'
  }" class="card-image">
  </div>

  <div>
    <h4> {{product.name}}</h4>
  </div>

  <div class="d-flex justify-content-between" style=" align-items: center">

    <div style="margin-right:5px">
      {{product.price | currency:'USD':true}}
    </div>

    <div>
      <button *appAuthPermissions type="button" class="btn btn-outline-primary me-2"
      (click)="addToCart()">
        Add to Cart
      </button>
    </div>

  </div>

</div>
