header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  background-color: #faf8f8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);


  .logo {
    display: flex;
    align-items: center;
    height: 90px;
    margin-right: 10px;
    mouse: pointer;
    cursor: pointer;
  }
}

div.relative {
  position: relative;
  width: 100px;
  height: 80px;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  cursor: pointer;
}

div.absolute {
  position: absolute;
  width: 80px;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  right: calc(50% - 43px);
  top: calc(50% - 51px);

}

.icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  cursor: pointer;
}
.user-mail{
  background-color: #faf8f8;
  color: #000000;
}
.navbar{
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  margin-top: 10px;

}
