<div class="p-4 d-flex justify-content-end">
  <button routerLink="/manager/products/create" class="btn btn-outline-success">Add Product</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>N</th>
    <th>Category</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of products" class="font">
    <td>
      <img [src]="item.image" width="150px">
    </td>
    <td>{{item?.category?.name}}</td>
    <td>{{item?.name}}</td>
    <td>{{item?.price | currency: 'USD'}}</td>
    <td>{{item?.description}}</td>
    <td class="justify-content-end font">
      <button class="btn btn-outline-dark margin" [routerLink]="['/manager/products/edit', item.id]">Edit</button>
      <button (click)="deleteItem(item.id)" class="btn btn-outline-danger margin">Remove</button>
    </td>
  </tr>
  </tbody>
</table>

